<c-vars title="" size="md" />
<div x-data="{ modalOpen: false }">
  <div @click="modalOpen = true; $nextTick(() => { $refs.modalBody.scrollTop = 0; })">
    {{ trigger }}
  </div>

  <template x-teleport="body">
    <div x-show="modalOpen" class="rdp-modal-backdrop"
         x-transition
         @keydown.escape.window="modalOpen = false"
         style="display: none;">
      
      <div class="rdp-modal rdp-modal--{{ size }}" @click.away="modalOpen = false"
           x-transition>
        
        <div class="rdp-modal__header">
          <h3 class="rdp-modal__title">{{ title }}</h3>
          <button class="rdp-modal__close" @click="modalOpen = false" aria-label="Close modal">×</button>
        </div>
        
        <div class="rdp-modal__body" x-ref="modalBody">
          {{ slot }}
        </div>
        
        {% if footer %}
        <div class="rdp-modal__footer">
          {{ footer }}
        </div>
        {% endif %}
        
      </div>
    </div>
  </template>
</div>